# Email Configuration (for contact form)
# Generate an app-specific password from your Gmail account:
# https://support.google.com/accounts/answer/185833
GMAIL_EMAIL=hannahakanni7@gmail.com
GMAIL_PASSWORD=Zion0909

# Or use another email service:
# SMTP_HOST=smtp.example.com
# SMTP_PORT=587
# SMTP_EMAIL=your-email@example.com
# SMTP_PASSWORD=your-password

# Optional Google API key
 GOOGLE_API_KEY=your-google-api-key
